.text-paragraph{
  text-align: justify;
  font-size: 1.1rem;
}

.about-img{
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  padding: 10px;

}
.banner-feedback{
  width: 100% !important;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}